@import "/home/urtreebro/.config/colors/colors.css";

window {
    margin: 0px;
    border: 5px solid @background;
    background-color: transparent;
    border-radius: 15px;
    outline: none;
}

#input {
    padding: 4px;
    margin: 4px;
    padding-left: 20px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: rgba(30, 30, 46, 0.8);
    background: ;
   	outline: none;
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 2px;
}

#input:focus {
    border: 0px solid #1e1e2e;
    margin-bottom: 0px;
    outline: none;
}

#inner-box {
    margin: 4px;
    border: none;
    color: #cdd6f4;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0px;
    outline: none;
    box-shadow: none;
}

#outer-box {
    margin: 0px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 15px;
    background-color: rgba(30, 30, 46, 0.8);
}

#scroll {
    margin-top: -2px;
    margin-bottom: -100px;
    border: none;
    border-radius: 15px;
    outline: none;
    box-shadow: none;
    margin-bottom: 5px;
}


#img {
    margin-left: 5px;
}

#img:selected {
    background-color: transparent;
    outline: none;
    border-radius: 0px;
}

#text {
    margin-left: 5px;
}

#text:selected {
    color: @foreground;
    border: none;
    outline: none;
    border-radius: 0px;
    background-color: transparent;
}

#entry {
    margin: 0px 0px;
    border: none;
    border-radius: 0px;
    outline: none;
    background-color: transparent;
}

#entry:selected {
    margin: 0px 0px;
    border: none;
    outline: none;
    border-radius: 0px;
    background-color: rgba(245, 194, 231, 0.5);
}
